.photo-frame{
    width: 300px;
    height: 169px;
    border: 2px solid goldenrod;
    border-radius: 10px;
    position: relative;
    margin: 20px;
    overflow: hidden;
}
.photo img{
   width: 100%;
   border-radius: 10px;
}
.photo-detail{
    display: none;
    position: absolute;
    width: 300px;
    top: 0px;
    color: white;
}
.photo-frame:hover .photo-detail{
    display: block;
  background-color: rgb(199, 180, 134, 0.6);
}
.photo-detail h3{
    background-color: goldenrod;
    text-align: center;
}
.photo-album{
    display: flex;
    flex-wrap: wrap;
}
.photo-frame:hover .photo{
    transform: scale(1.5) rotate(360deg);
    transition: transform 2s ease-in-out;
}